[submodule "lib/r0-base/LABjs"]
	path = lib/r0-base/LABjs
	url = git://github.com/getify/LABjs.git
[submodule "lib/test/qunit"]
	path = lib/test/qunit
	url = git://github.com/jquery/qunit.git
[submodule "build/closure-compiler"]
	path = build/closure-compiler
	url = git://github.com/goyote/google-closure-compiler.git
[submodule "lib/r1-core"]
	path = lib/r1-core
	url = git://github.com/lightenna/js-libs.git
